    {% assign link = "https://mozillapulse.org/entry/" | append: project["id"] %}
  <div class="card-container col-md-6 col-xs-12">
    <div class="project-card">
      <div class="main-content">
        <img class="thumbnail" src={{ project["thumbnail"]}}>
        <div class="content">
          <h2><a target="_blank" href={{ link }}>{{ project["title"]}}</a></h2>
          <div class="mb-2">
            <small class="creator d-block text-muted">By {{ project["creators"] | join: ', ' }}</small>
          </div>
          <p class="description">{{ project["description"]}}</p>
          <div><p class="get-involved">{{ project["get_involved"]}} <a href={{ project["get_involved_url"]}} target="_blank">Get Involved</a></p><a href={{ project["content_url"] }} target="_blank" class="btn btn-block btn-outline-info btn-view">Visit</a></div>
        </div>
      </div>
    </div>
  </div>