---
layout: default
---
<div class="hero-unit home-page">

</div>
<div class="home-page lesson-content">
  <div class="intro">
    <p>
      Welcome to our Training site for Mozilla's Global Sprint. Here you'll find  Guides for <a href="participants-guide">Participants</a>, for <a href="project-lead-guide">Project Leads</a>, and for <a href="site-hosts-guide">Site Hosts</a>.
    </p>
    <p>To learn general information about the Sprint, visit <a href="http://mzl.la/global-sprint">mzl.la/global-sprint</a>
    </p>
  </div>
</div>
