---
layout: default
---
<div class="hero-unit home-page">
  <h1>Global Sprint 2018</h1>
  <p>May 10-11, 2018</p>
</div>
<div class="home-page lesson-content">
  <div class="intro">
    <p>
      Welcome to our Training site for Mozilla's Global Sprint. Here you'll find  Guides for [Participants](https://mozilla.github.io/global-sprint/participants-guide/), for [Project Leads](), and for [Site Hosts](). Also, check out our pages on Open at the Sprint, and about set of collabortion tools and platforms we use at the 2018 Sprint.  
      <a href="register">Get your tickets now</a>!
    </p>
  </div>
</div>
