---
layout: default
---
<div class="hero-unit home-page">
  <h1>Global Sprint 2017</h1>
  <p>June 1st-2nd, 2017</p>
</div>
<div class="home-page lesson-content">
  <div class="intro">
    <p>
      Mozilla’s Global Sprint is a fun, fast-paced and two-day collaborative event to hack and build projects for a healthy Internet. A diverse network of scientists, educators, artists, engineers and others come together in person and online to innovate in the open. <a href="register">Get your tickets now</a>!
    </p>
  </div>
    <div class="row home-card">
      <div class="col-md-6">
        <span class="highlight">For Participants</span>
        <h1>Protect and build the open Web</h1>
      </div>
      <div class="col-md-6">
        Everyone is welcome, from students and librarians to coders, designers, researchers, community organizers -- and you!
        <br />
        <a class="btn btn-lg btn-default btn-next" href="participants"> Join us! &nbsp; <i class="fa fa-play" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row home-card">
      <div class="col-md-6">
        <span class="highlight">For Project Leads</span>
        <h1>Bring your project to the Sprint</h1>
      </div>
      <div class="col-md-6">
        Supercharge your open project with amazing contributions from around the Mozilla Network.
        <br />
        <a class="btn btn-lg btn-default btn-next" href="project-lead"> Register Your Project &nbsp; <i class="fa fa-play" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row home-card">
      <div class="col-md-6">
        <span class="highlight">For Site Hosts</span>
        <h1>Collaborate and create in person </h1>
      </div>
      <div class="col-md-6">
       Unite local projects with global contributors for a fun event. Work, teach and learn together to grow your projects and your local open web community.
        <br />
        <a class="btn btn-lg btn-default btn-next" href="site-hosts"> Host a Site! &nbsp; <i class="fa fa-play" aria-hidden="true"></i></a>
      </div>
    </div>
</div>
